/* сброс стилsd браузера */
* {
  box-sizing: border-box; 
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*vertical-align: baseline;*/
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
        overflow-x: hidden; 
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* кінець кода сброса стилів браузера */

html {
	overflow-x: hidden;
}

body {
	font-family: 'Poppins', sans-serif, Arial, sans-serif;
	font-weight: normal;
	color: #C8C8C8;
	background-color: #f2edfe;
	overflow-x: hidden !important; 
	}
#totop {
width: 50px;
	height: 50px;
	position: fixed;
	right: 10px;
	bottom: 30px;
	display: none;
	z-index: 1000;
	
}				
input[type=number]{
    width: 80px;
} 
input {outline:none;
}
input::-webkit-input-placeholder {
					color: rgba(97, 41, 153, 0.5) !important;
					}
					
					input:-moz-placeholder { /* Firefox 18- */
					color: rgba(97, 41, 153, 0.5) !important;  
					}
					
					input::-moz-placeholder {  /* Firefox 19+ */
					color: rgba(97, 41, 153, 0.5) !important;  
					}
					
					input:-ms-input-placeholder {  
					color: rgba(97, 41, 153, 0.5) !important;  
					}	


header {
	background-image: url("../images/header main.png");
 	background-size: cover;
 	width: 100%;
    color: #fff;
    min-height: 750px ;
    position: relative;
   }

   .socicons {
   	top: 100px;
	display: flex;
	justify-content: flex-end; 
	position: absolute;
}
.socicons__links {
	list-style: none;
}
.socicons__links-item {
	padding-bottom: 42px;
}
.socicons__links-item:last-child {
	padding-bottom: 0;
}

.header__basket {
	background-image: none;
	background-color: mediumpurple;
	min-height: 8rem;
	width: auto;
}.logo {

    margin: 40px 0px 0px 30px;
}
.menu {
	 margin-top: 30px;
	 padding-left: 20rem;
}
.menu__list{
list-style: none;
}
.menu__list-item {
	margin-right: 4rem;
	height: 45px;
	font-size: 30px;
	font-weight: 700;
	line-height: 45px;
}

li a {
	color: #fff;
}
li a:hover {
	color: #612999;
	text-decoration: none;
}

 ul.menu__list li:last-child {
 	padding-left: 5rem;
 }
.home .homeLink, .drinks .drinksLink, .about .aboutLink, .contact .contactLink {
    color: #612999; 
}

.search {
	margin: 50px 0 0 30px;
	padding-right: 100px;
	font-weight: normal;

}
.search__enjoy {
    font-size: 100px;
    color: #612999;
   
}
.search__text {
    font-size: 1.4rem;
    font-weight: 400;
   /**/
    word-spacing: 3px;
    letter-spacing: 0.5px;
    text-align: justify;
    line-height: 38px;
}
.search__input {
	width: 370px;
	height: 55px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 46.5px;
    text-align: center;
    padding-right: 40px;
    color: #612999;
    font-size: 25px;
}
.search__button {
	background: #612999;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	border: none;
	margin: 5px;
	cursor: pointer;
}
.search__button:hover {
	background: #51138f;
}
.special {
	padding-right: 40px;
	padding-bottom: 180px;
	margin-top: 5px;
	display: flex;
	justify-content: flex-end;
}
.square {
    width: 280px;
    height: 135px;
    background: rgba(62, 117, 42, 0.5);
    border-radius: 19px;
    margin:15px 15px 0px 15px;
}
.special__green_content {
	font-weight: normal;
	margin-top: 15px;
	display: flex;
	justify-content: space-around;
}
.special__green_text p:first-child {
	padding-bottom: 0.8rem;
	
	font-size: 1.4rem;
}
.special__green_price p:first-child {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	background: rgb(62, 117, 42);
	opacity: 100%;
	text-align: center;
	padding: 18px 0 0 0;
	font-size: 1.4rem;
}
.special__green_price p:last-child {
	 align-self: flex-end;
	 font-size: 2.0rem;
	 padding: 10px 0 10px;
}
.special__orange{
    background: rgba(251, 196, 0, 0.5);	
} 
.special__orange_content {
	font-weight: normal;
	margin-top: 15px;
	display: flex;
	justify-content: space-around;
}
.special__orange_text p:first-child {
	padding-bottom: 0.8rem;
	
	font-size: 1.4rem;
}
.special__orange_price p:first-child {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	background: rgb(251, 196, 0);
	opacity: 100%;
	text-align: center;
	padding: 18px 0 0 0;
	font-size: 1.4rem;
}
.special__orange_price p:last-child {
	 align-self: flex-end;
	 font-size: 2.0rem;
	 padding: 10px 0 10px;
}
.special__violet {
    background: rgba(97, 41, 153, 0.5) ;	
} 
.special__violet_content {
	font-weight: normal;
	margin-top: 15px;
	display: flex;
	justify-content: space-around;
}
.special__violet_text p:first-child {
	padding-bottom: 0.8rem;
	font-size: 1.4rem;
}
.special__violet_price p:first-child {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	background: rgb(97, 41, 153);
	opacity: 100%;
	text-align: center;
	padding: 18px 0 0 0;
	font-size: 1.4rem;
}
.special__violet_price p:last-child {
	 align-self: flex-end;
	 font-size: 2.0rem;
	 padding: 10px 0 10px;
}
.nav__menu {
     display: flex;
     justify-content: center;
   }
.choice__menu {
	list-style: none;
}
.choice__list {
	margin-right: 55px;
	font-size: 30px;
	line-height: 48px;
	height: 53px;
	color: #612999;
	margin-top: 60px;
}
.choice__list a:hover {
	background: #612999;
	color: #fff;
}
.name {
	margin: 40px;
	color: #612999;
	font-size: 65px;
    font-style: normal;
    line-height: 97px;
    width: 700px;
}

li.choice__list a {
	color: #612999;
	transition: all .3s;
}
li.choice__list a:hover {
	/*background: #612999;*/
	color: #fff;
	padding: 8px 10px;
}
.card {
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
	border-radius: 38px;
	background: #FFFFFF;
	margin-bottom: 30px;
	border: none;
	position: relative;
}
   .cards {
   	align-content: center;
   }
.card__body-icon-like {
	position: absolute;
	top: 15px;
	right: 20px;
	border: none;
	width: 47px;
	height: 47px;
	border-radius: 50%;
	background-color: #fff;
}
.card__body-icon-like::before {
	content: url('../images/hart.svg');
	position: absolute;
	width: 40px;
	height: 40px;
	top: 15px;
	right: 3px;
}
.card__body-icon-like--active::before {
	content: url('../images/hart pink.svg');
	width: 30px;
	height: 30px;
	top: 13px;
	right: 8px;
}
.card__body {
margin: 21px auto 0 20px;
padding-right: 15px;
}
.card__body-name {
	font-size: 1.2em;
	color: #000000;
}
.card__body-text {
	font-size: 1em;
    margin-top: 5px; 
}
.card__body-price {
	font-size: 1.8em;
	color: #612999;
	font-weight: 700;
	line-height: 52.5px;
}
.card__body-icon-basket {
	border: none;
	background-color: #612999;
	width: 63px;
	height: 63px;
	border-radius: 50%;
	display: block;
	margin-bottom: 15px;
	margin-top: 15px;
}
footer {
	background-color: mediumpurple;
	padding: 20px 5px 15px 45px;
	margin-top: 5rem;

}
.footer-menu__list_item {
	list-style: none;
}
.footer-menu__list {
	font-size: 0.9rem;
	font-weight: 400;
	letter-spacing: 0.2rem;
	line-height: 1.8rem;
}
.footer-menu__list li:first-child {
	font-size: 1.2rem;
	line-height: 40px;
	color: #612999;
    font-weight: 700;
    letter-spacing: normal;
    background: #fff;
    border-radius: 6px;
    width: 5rem;
}
.socicons-footer__links {
	list-style: none;
} 
.socicons-footer__links-item_fb, .socicons-footer__links-item_tw {
	padding-bottom: 3rem;
}
.footer-name {
   padding-top: 2rem;
}
.footer-name__text h1 {
   background: #fff;
   border-radius: 6px;
   font-size: 4rem;
   color: #612999;
   height: 8rem;
   width: 16rem;
   text-align: center;
} 
.footer-name__text h1{
    padding: 1.7rem;
}
.footer-info {
	line-height: 2rem;
    color: #fff;
    font-weight: normal;
    letter-spacing: 0.2rem;
    padding-right: 15px;
 }
.footer {
	height: 12rem;
}
.foot {
	border-right: 1px dashed #fff;
}
p.cop {
	text-transform: uppercase;
	letter-spacing: normal;
	font-size: 0.7rem;
	padding-top: 6rem;
}
.map-container{
    overflow:hidden;
    padding-right: 2rem;
    margin-top: 1.5rem;
    height: 100%;
}
.map-container iframe{
    top:0;
    height:100%;
    width:100%;
}

/*checkout*/
.menu__list_all {
	padding-left: 6.5rem;
}
.basket li a.bm:hover {
	color: #612999;
	}
a.basket__menu {
    position: relative; 
}
.basket__num  {
	position: absolute;
	font-weight: 500;
	font-size: 0.8rem;
	line-height: 1.2rem;
	width: 1.5rem;
	height: 1.5rem;
	background-color: #612999;
	border-radius: 50%; 
	text-align: center;
	padding-top: 0.1rem;
	bottom: -2px;
	right: -8px;
	color: #fff;
 }
 .basket__num:hover {
 	background-color: #fff;
 	color: #612999;
 }
 .basket__table {
 	padding: 2rem 0 2rem 0;
 	font-size: 1.1rem;
 	color:#504d4d;
 }
 .basket_head {
 	display: block;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 2rem;
 }
 b {
 	color: #612999;
 	margin-right: 1rem;
 	margin-left: 1rem;
 	text-transform: uppercase;
 }
 .basket_head h1 {
 	font-size: 2rem;
 	font-weight: 700;
 }
 .product-name p {
    font-weight: normal;
    font-size: 0.9rem;

 }
 table {
 	width: 100%;
 	table-layout: fixed;

 }
 thead {
 	text-align: center;
 }
 tbody {
 	text-align: center;
}
table {
	border-spacing: 1.5rem;
	border-collapse: separate;
	border-bottom: 1px solid #ccc;
}

.table__head {
	font-weight: 700;
	font-size: 1.2rem;
}
.sum_total {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
}

 .order__checkout_btn {
 	text-decoration: none;
 	background: #612999; 
	width: 120px;
	height: 40px;
	border-radius: 46.5px;
	border: none;
	margin: 5px;
	cursor: pointer;
    text-align: center;
 	color: #fff;
 	display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .order__checkout_btn:hover {
 	background: mediumpurple; 
 	text-decoration: none;
 	color: #fff;
 }
 
/*Checkout*/
.wrap__form {
	display: flex;
	justify-content: center;
}
.row__checkout {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}
label {
  margin-bottom: 0.2rem;
  display: block;
  color: #612999;
}
input.input_form {
  min-width: 50rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}
.btn__checkout {
  background-color: mediumpurple;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}
.btn__checkout:hover {
	  background-color: #612999;
}
legend {
	padding: 1rem 0 1rem 0;
	font-size: 1.8rem;
 	font-weight: 700;
 	color:#504d4d;
}

/*About*/
.about__title {
	font-size: 4rem;
	color: #612999;
	margin: 2rem 0 2rem 0;
}
 .whyus span {
  	font-size: 1.6rem;
  	color: #504d4d;
  }
  /*Contact*/
.contact__bunner {
	margin-top: 60px;
	box-shadow: 0 0 10px #504d4d;
}
.contact__pad {
	margin-top: 20px;
    background-color: #fff;
	min-width: 100%;
	box-shadow: 0 0 10px #504d4d;
	font-size: 1.2rem;
	line-height: 3rem;
	color: #504d4d;
}
   .contact__pad p {
   	padding-top: 5px;
   }
p.contact__post::before {
	content: url(../images/free-icon-phone-call-126509.png);
	padding: 10px;
}
p.contact__tel::before {
    content: url(../images/free-icon-email-561127.png);
    padding: 10px;
    top: 5px;
}
@media (max-width: 1273px) {
    .menu {
	padding-left: 10rem;
}
    .menu__list-item {
	margin-right: 2rem;
}
}
@media (max-width: 1199px) {
	.choice__list {
	margin-right: 20px;
}
   .footer-name__text h1 {
   font-size: 3rem;
   height: 8rem;
   width: 12rem;
   text-align: center;
} 
    
   .product-name h3 {
      font-size: 70%;
}
}
@media (max-width: 952px) {
	#map-container-google-1 {
		margin-left: 25px;
		width: 100%;
	}
}
@media (max-width: 992px) {
	.logo {
		display: none;
	}
	.socicons {
		justify-content: center;
	}
	.search {
		padding-left: 15px;
	}
	.search__input {
	width: 330px;
	height: 45px;
    padding-right: 30px;
    font-size: 18px;
}
    .search__button {
	width: 50px;
	height: 50px;
}
   .special {
	font-size: 80%;
	padding: 15px;
}
   .special__content {
   	padding: 5px;
}
   .choice__list {
	margin-right: 8px;
	font-size: 25px;
}
   .name {
   	 font-size: 28px;
   	 margin: 15px;
   }
   .foot {
	border-right: none;
}
   .footer-info {
   	letter-spacing: 0;
}
   .order__checkout 
   {
   	margin-left: -40px;
   }
   .contact__pad {
	
    
	max-width: 100%;
	
}
}
@media (max-width: 768px) {
.menu {
	 padding-left: 0;
	 margin-left: 0;
}
.menu__list-item {
	margin-right: 5px;
	height: 35px;
	font-size: 25px;
	font-weight: 700;
	line-height: 35px;
}
.special {
   	display: block!important;
}
.choice__menu {
   display: block;
   padding-top: 15px;
}
.nav__menu {
   justify-content: flex-start;
   padding-left: 60px;
}
.choice__list {
	margin-right: 15px;
	font-size: 25px;
	line-height: 30px;
	margin-top: 30px;
	padding: 0;
	margin: 0;
}
.card__body-icon-like {
	width: 40px;
	height: 40px;
}
.card__body-icon-like::before {
	width: 30px;
	height: 30px;
	top: 12px;
	right: 5px;
}
.card__body-icon-like--active::before {
	width: 25px;
	height: 25px;
	top: 11px;
	right: 7px;
}
.card__body-name {
	font-size: 1em;
}
.card__body-text {
	font-size: 0.8em;
}
.card__body-price {
	font-size: 1.4em;
	font-weight: 700;
}
.card__body-icon-basket {
	width: 50px;
	height: 50px;
	margin-bottom: 15px;
	margin-left: 8px;
}
.card__body-icon-basket img {
	width: 20px;

}
.footer-name {
   	display: none;
   }
p.cop {
	padding-top: 4rem;
	font-size: 0.5rem;
}
.footer {
	height: auto;
}
#map-container-google-1 {
   	display: none;
}
.footer-menu__list li {
	padding-left: 0;
	font-size: 0.8rem;
	line-height: 1.4rem;
}
.socicons-footer__links-item img {
   	width: 20px;
}
.socicons-footer__links {
      	margin-left:  -30px;	
}
.socicons-footer__links-item_fb, .socicons-footer__links-item_tw {
	padding-bottom: 2rem;
	padding-top: 8px;
}
footer {
	padding: 20px 5px 15px 0;
}
.product-name p {
   	display: none;
}
.product-name h3 {
   	font-size: 0.5rem;
}
.product-img img {
   	width: 30px;
}
.product-price, .product-sum, .sum_total {
    font-size: 0.7rem; 
}
input[type=number]{
    width: 43px;
    font-size: 0.8rem;
    margin-left: -5px;
} 
.table__head {
   	font-size: 0.9rem;
}
.about_icon-img img {
   	width: 3rem;
   }
.about__title {
	font-size: 3rem;
}
.whyus span {
  	font-size: 1.4rem;
}  
.contact__bunner {
 max-width: 400px;
}
.contact__bunner img {
   max-width: 400px;
} 
.contact__pad {
   	font-size: 1rem;
}
.footer-info {
	margin-left: -80px;
}
}
@media (max-width: 575px) {
.socicons {
		display: none;
}
	.search {
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 0;
}
	 .search__enjoy {
    font-size: 70px;
}
   .search__text {
    font-size: 1rem;
    word-spacing: 3px;
    letter-spacing: 0.5px;
    line-height: 25px;
}
  
   .search__button img {
    	width: 20px;
}
   .product-img img {
   	width: 40px;
}
   .table__head {
   	font-size: 0.7rem;
}
   .product-delete img{
   	width: 30px;
} 
    .about_icon {
   	font-size: 1.2rem;
   } 
   .whyus span {
  	font-size: 1rem;
}  
   .contact__bunner {
 max-width: 300px;
   }
   .contact__bunner img {
   max-width: 300px;
   }  
   legend {
	font-size: 1.2rem;
}	
}
@media (max-width: 480px) {
 /*  .product-img img {
   	display: none;
}*/
    .whyus span {
  	font-size: 1rem;
}  
    .about_icon-img img {
   	width: 2.5rem;
   }
}
@media (max-width: 469px) {
	.search__input {
	width: 200px;
	padding-right: 0;
    font-size: 16px;
}
   .search__button {
	width: 35px;
	height: 35px;
}
   .footer-info {
   	margin-left:  -65px;
   	margin-right: 15px;
   	font-size: 0.6rem;
}
}
@media (max-width:355px) {
	.search__input {
	width: 220px;
}
   .square {
   	width: 200px;
   	height: auto;
   }
   .contact__pad {
   	display: inline-block;
   }
}
@media (max-width:325px)and (max-width: 992px) {
	.square {
   	width: auto;
   	height: auto;
   }
   .special__content {
	padding: 10px;
	margin-bottom: 15px;
}
}